openapi: 3.1.0
info:
  title: Jarvis-PL API
  version: "1.2.0"
servers:
  - url: https://ai.aneuroasystent.pl

paths:
  /health:
    get:
      operationId: health
      summary: Status serwera
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /auth/status:
    get:
      operationId: authStatus
      summary: Status autoryzacji Google
      responses:
        "200":
          description: Tekstowy status (refresh_token: TAK/NIE)
          content:
            text/plain:
              schema:
                type: string

  /auth/reset:
    get:
      operationId: authReset
      summary: Wyczyść tokeny i stan webhooka (ADMIN)
      security:
        - AdminToken: []
      responses:
        "200":
          description: Zresetowano
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /calendar/events/json:
    get:
      operationId: listCalendarEventsJson
      summary: Nadchodzące wydarzenia (ID, tytuł, start)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        summary:
                          type: string
                        start:
                          type: string
                          nullable: true

  /calendar/event:
    get:
      operationId: getCalendarEvent
      summary: Szczegóły pojedynczego wydarzenia
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: ID wydarzenia z Google Calendar
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object

  /calendar/create:
    post:
      operationId: calendarCreate
      summary: Utwórz wydarzenie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarCreateRequest"
      responses:
        "200":
          description: Utworzone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEventCreated"

  /calendar/update:
    post:
      operationId: calendarUpdate
      summary: Zaktualizuj (częściowo) wydarzenie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarUpdateRequest"
      responses:
        "200":
          description: Zaktualizowano
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarEventUpdated"

  /calendar/delete:
    post:
      operationId: calendarDelete
      summary: Usuń wydarzenie
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: ID wydarzenia lub serii
                sendUpdates:
                  type: string
                  enum: [all, externalOnly, none]
                  default: none
      responses:
        "200":
          description: Usunięto
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  deletedId:
                    type: string

  /calendar/quickadd:
    post:
      operationId: calendarQuickAdd
      summary: Utwórz wydarzenie z opisu (QuickAdd)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: 'np. "Jutro 9:00 spotkanie z Janem na Teams"'
                sendUpdates:
                  type: string
                  enum: [all, externalOnly, none]
                  default: none
      responses:
        "200":
          description: Utworzono
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  htmlLink:
                    type: string
                  status:
                    type: string
                  start:
                    type: object
                  end:
                    type: object
                  summary:
                    type: string

  /calendar/instances:
    get:
      operationId: calendarInstances
      summary: Wystąpienia serii
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: ID serii (recurringEventId)
        - in: query
          name: timeMin
          schema:
            type: string
            format: date-time
        - in: query
          name: timeMax
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  seriesId:
                    type: string
                  timeMin:
                    type: string
                  timeMax:
                    type: string
                  instances:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        recurringEventId:
                          type: string
                        summary:
                          type: string
                        status:
                          type: string
                        start:
                          type: object
                        end:
                          type: object
                        htmlLink:
                          type: string

  /calendar/freebusy:
    post:
      operationId: calendarFreeBusy
      summary: Zapytanie o zajętości (merge’owane)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreeBusyRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeMin:
                    type: string
                  timeMax:
                    type: string
                  calendars:
                    type: object
                  busyCombined:
                    type: array
                    items:
                      type: object
                      properties:
                        start:
                          type: string
                        end:
                          type: string

  /calendar/suggest:
    post:
      operationId: calendarSuggest
      summary: Proponowane wolne sloty (zajętość + godziny pracy)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SuggestRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeMin:
                    type: string
                  timeMax:
                    type: string
                  durationMinutes:
                    type: integer
                  workHours:
                    type: object
                    properties:
                      start:
                        type: string
                      end:
                        type: string
                      timeZone:
                        type: string
                  includeWeekends:
                    type: boolean
                  stepMinutes:
                    type: integer
                  limitRequested:
                    type: integer
                  slots:
                    type: array
                    items:
                      type: object
                      properties:
                        startISO:
                          type: string
                        endISO:
                          type: string

  /calendar/watch:
    post:
      operationId: calendarWatch
      summary: Włącz webhook (push) dla kalendarza
      responses:
        "200":
          description: Kanał aktywny
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  channelId:
                    type: string
                  resourceId:
                    type: string
                  expiration:
                    type: string
                  syncToken:
                    type: string
                  callback:
                    type: string

  /calendar/watch/stop:
    post:
      operationId: calendarWatchStop
      summary: Zatrzymaj kanał webhook
      responses:
        "200":
          description: Zatrzymano lub już nieaktywny
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  alreadyStopped:
                    type: boolean

  /calendar/watch/state:
    get:
      operationId: calendarWatchState
      summary: Aktualny stan kanału webhook
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  channelId:
                    type: string
                    nullable: true
                  resourceId:
                    type: string
                    nullable: true
                  expiration:
                    type: string
                    nullable: true
                  hasSyncToken:
                    type: boolean
                  lastChangesCount:
                    type: integer
                  history:
                    type: array
                    items:
                      type: object

  /gmail/messages:
    get:
      operationId: listGmailMessages
      summary: Lista wiadomości Gmail (ostatnie/filtr)
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: 'np. newer_than:7d subject:"faktura" from:adres@domena'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        snippet:
                          type: string
                        subject:
                          type: string
                        from:
                          type: string
                        date:
                          type: string

  /gmail/send:
    post:
      operationId: gmailSend
      summary: Wyślij e-mail (HTML/tekst + załączniki)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GmailSendRequest"
      responses:
        "200":
          description: Wysłano
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  labelIds:
                    type: array
                    items:
                      type: string

  /gmail/reply:
    post:
      operationId: gmailReply
      summary: Odpowiedz w istniejącym wątku
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GmailReplyRequest"
      responses:
        "200":
          description: Wysłano
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  threadId:
                    type: string
                  labelIds:
                    type: array
                    items:
                      type: string

  /drive/search:
    get:
      operationId: searchDriveFiles
      summary: Szukaj plików w Google Drive (po nazwie)
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Fraza do wyszukania w nazwie pliku
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DriveFile"

  /places/search:
    get:
      operationId: searchPlaces
      summary: Szukaj miejsc (Google Places API — New)
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Fraza, np. "kawiarnia", "pizza", "siłownia"
        - in: query
          name: lat
          schema:
            type: number
          description: Szerokość geograficzna (domyślnie Warszawa 52.2297)
        - in: query
          name: lng
          schema:
            type: number
          description: Długość geograficzna (domyślnie 21.0122)
        - in: query
          name: radius
          schema:
            type: integer
          description: Promień w metrach (domyślnie 3000)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlacesSearchResponse"

  /places/details:
    get:
      operationId: placeDetails
      summary: Szczegóły miejsca (Places API — New)
      parameters:
        - in: query
          name: place_id
          required: true
          schema:
            type: string
          description: Identyfikator miejsca (np. "places/XXXX...")
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceDetails"

components:
  securitySchemes:
    AdminToken:
      type: apiKey
      in: header
      name: x-admin-token
      description: Wymagane dla /auth/reset

  schemas:
    CalendarCreateRequest:
      type: object
      required:
        - summary
        - startISO
        - endISO
      properties:
        summary:
          type: string
        description:
          type: string
        location:
          type: string
        startISO:
          type: string
          description: "ISO-8601; dla całego dnia użyj YYYY-MM-DD"
        endISO:
          type: string
          description: "ISO-8601; dla całego dnia użyj YYYY-MM-DD"
        timeZone:
          type: string
          default: Europe/Warsaw
        attendeesEmails:
          type: array
          items:
            type: string
        remindersMinutes:
          type: integer
          minimum: 0
        recurrence:
          type: array
          items:
            type: string
        createMeet:
          type: boolean
          default: false
        sendUpdates:
          type: string
          enum: [all, externalOnly, none]
          default: none

    CalendarUpdateRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        summary:
          type: string
        description:
          type: string
        location:
          type: string
        startISO:
          type: string
        endISO:
          type: string
        timeZone:
          type: string
          default: Europe/Warsaw
        attendeesEmails:
          type: array
          items:
            type: string
        remindersMinutes:
          type: integer
          minimum: 0
        recurrence:
          type: array
          items:
            type: string
        createMeet:
          type: boolean
        sendUpdates:
          type: string
          enum: [all, externalOnly, none]
          default: none

    CalendarEventCreated:
      type: object
      properties:
        id:
          type: string
        htmlLink:
          type: string
        status:
          type: string
        start:
          type: object
        end:
          type: object
        summary:
          type: string
        hangoutLink:
          type: string
          nullable: true
        conferenceData:
          type: object
          nullable: true

    CalendarEventUpdated:
      allOf:
        - $ref: "#/components/schemas/CalendarEventCreated"
        - type: object
          properties:
            updated:
              type: string

    FreeBusyRequest:
      type: object
      required:
        - timeMin
        - timeMax
      properties:
        timeMin:
          type: string
          format: date-time
        timeMax:
          type: string
          format: date-time
        attendeesCalendars:
          type: array
          items:
            type: string

    SuggestRequest:
      type: object
      required:
        - durationMinutes
      properties:
        timeMin:
          type: string
          format: date-time
        timeMax:
          type: string
          format: date-time
        durationMinutes:
          type: integer
          minimum: 1
        attendeesCalendars:
          type: array
          items:
            type: string
        workHours:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
            timeZone:
              type: string
              default: Europe/Warsaw
        includeWeekends:
          type: boolean
          default: false
        bufferMinutesBefore:
          type: integer
          default: 0
        bufferMinutesAfter:
          type: integer
          default: 0
        stepMinutes:
          type: integer
          default: 30
        limit:
          type: integer
          default: 20

    GmailSendRequest:
      type: object
      required:
        - to
        - subject
      properties:
        to:
            type: string
        subject:
            type: string
        text:
            type: string
        html:
            type: string
        from:
            type: string
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              mimeType:
                type: string
              data:
                type: string
                description: Base64

    GmailReplyRequest:
      type: object
      properties:
        replyToMessageId:
          type: string
        threadId:
          type: string
        to:
          type: string
        subject:
          type: string
        text:
          type: string
        html:
          type: string
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              mimeType:
                type: string
              data:
                type: string
                description: Base64
        inReplyTo:
          type: string
        references:
          type: string

    DriveFile:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        mimeType:
          type: string
        modifiedTime:
          type: string

    PlacesSearchResponse:
      type: object
      properties:
        query:
          type: string
        lat:
          type: number
        lng:
          type: number
        radius:
          type: integer
        results:
          type: array
          items:
            type: object
            properties:
              place_name:
                type: string
              displayName:
                type: string
              address:
                type: string
              rating:
                type: number
                nullable: true
              user_ratings_total:
                type: integer
                nullable: true
              phone:
                type: string
                nullable: true
              website:
                type: string
                nullable: true
              open_weekdays:
                type: array
                items:
                  type: string
              location:
                type: object
                properties:
                  lat:
                    type: number
                    nullable: true
                  lng:
                    type: number
                    nullable: true
              types:
                type: array
                items:
                  type: string

    PlaceDetails:
      type: object
      properties:
        place_name:
          type: string
        name:
          type: string
        address:
          type: string
        phone:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        rating:
          type: number
          nullable: true
        user_ratings_total:
          type: integer
          nullable: true
        open_weekdays:
          type: array
          items:
            type: string
        location:
          type: object
          properties:
            lat:
              type: number
              nullable: true
            lng:
              type: number
              nullable: true
        types:
          type: array
          items:
            type: string
